@model IEnumerable<ShopBanGiay.Models.DatHang_ChiTiet>

@{
    ViewBag.Title = "Đặt hàng chi tiết";
}

<div class="card mt-3">
    <h5 class="card-header">@ViewBag.Title</h5>
    <div class="card-body">
        <p><a class="btn btn-success" href="@Url.Action("Create")" role="button">Thêm mới</a></p>
        <table class="table table-bordered table-hover table-sm mb-0">
            <tr>
                <th width="5%">#</th>
                <th>
                    @Html.DisplayNameFor(model => model.SoLuong)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DonGia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Size)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DatHang.DienThoaiGiaoHang)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Giay.TenGiay)
                </th>
                <th width="10%"></th>
            </tr>
            @{ int stt = 1; }
            @foreach (var item in Model)
            {
        <tr>
            <td>@stt</td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonGia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatHang.DienThoaiGiaoHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Giay.TenGiay)
            </td>
            <td class="text-center">
                @Html.ActionLink("Sửa", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.ID })
            </td>
        </tr>
                stt++;
            }
        </table>
    </div>
</div>